/** Global styles
p.demo_store,
.woocommerce-store-notice
  position: fixed
  bottom: 0
  left: 0
  right: 0
  margin: 0
  width: 100%
  font-size: 1em
  padding: 10px 25px
  text-align: center
  background-color: $primary
  color: $primarytext
  z-index: 99998
  box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2)
  display: none

  a
    color: white
    margin: 0 5px
    padding: 0 15px
    background: darken($primary, 10)
    border-radius: 3px

    &:hover
      text-decoration: none
      background: darken($primary, 15)

    &::before
      font-family: "Ionicons"
      content: '\f405'
      font-size: 16px
      margin-right: 5px
