.blockUI.blockOverlay
  position: relative

  +loader

.loader
  +loader

a.remove
  display: block
  font-size: 1.5em
  height: 1em
  width: 1em
  text-align: center
  line-height: 1
  border-radius: 100%
  color: red !important

  // Required for default theme compatibility
  text-decoration: none
  font-weight: 700
  border: 0

  &:hover
    color: #fff !important

    // Required for default theme compatibility
    background: red

small.note
  display: block
  color: $subtext
  font-size: 0.857em
  margin-top: 10px

.woocommerce-breadcrumb
  +clearfix

  margin: 0 0 1em
  padding: 0
  font-size: 0.92em
  color: $subtext

  a
    color: $subtext

.quantity .qty
  width: 3.631em
  text-align: center