/**
/** Product Page
div.product
  position: relative
  padding-top: 0
  +breakpoint($tablet-portrait-up)
    padding-top: 60px

  .product_title
    color: $red
    +rem('font-size', 48px)
    clear: none
    margin: 0
    padding: 0

  span.price,
  p.price
    color: $highlight
    font-size: 1.25em

    ins
      background: inherit
      font-weight: 700

    del
      opacity: 0.5

  p.stock
    font-size: 0.92em

  .stock
    color: $highlight

  .out-of-stock
    color: red

  .woocommerce-product-rating
    margin-bottom: 1.618em

  div.images
    +span(12 of 12)
    margin-bottom: 2em
    +breakpoint($tablet-portrait-up)
      +span(4 of 12)

    img
      display: block
      width: 100%
      height: auto
      box-shadow: none

    div.thumbnails
      padding-top: 1em

    &.woocommerce-product-gallery
      position: relative

    .woocommerce-product-gallery__wrapper
      margin: 0
      transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s

    .woocommerce-product-gallery__wrapper .zoomImg
      background-color: #fff

    .woocommerce-product-gallery__image:nth-child(n+2)
      width: 25%
      display: inline-block

    .woocommerce-product-gallery__trigger
      position: absolute
      top: .5em
      right: .5em
      font-size: 2em
      z-index: 9
      width: 36px
      height: 36px
      background: #fff
      text-indent: -9999px
      border-radius: 100%
      box-sizing: content-box

      &:before
        content: ""
        display: block
        width: 10px
        height: 10px
        border: 2px solid #000
        border-radius: 100%
        position: absolute
        top: 9px
        left: 9px
        box-sizing: content-box

      &:after
        content: ""
        display: block
        width: 2px
        height: 8px
        background: #000
        border-radius: 6px
        position: absolute
        top: 19px
        left: 22px
        transform: rotate(-45deg)
        box-sizing: content-box

    .flex-control-thumbs
      overflow: hidden
      zoom: 1
      margin: 0
      padding: 0

      li
        width: 25%
        float: left
        margin: 0
        list-style: none

        img
          cursor: pointer
          opacity: .5
          margin: 0

          &.flex-active,
          &:hover
            opacity: 1

  .woocommerce-product-gallery--columns-3
    .flex-control-thumbs li:nth-child(3n+1)
      clear: left

  .woocommerce-product-gallery--columns-4
    .flex-control-thumbs li:nth-child(4n+1)
      clear: left

  .woocommerce-product-gallery--columns-5
    .flex-control-thumbs li:nth-child(5n+1)
      clear: left

  div.summary
    +span(12 of 12 last)
    margin-bottom: 30px
    +breakpoint($tablet-portrait-up)
      +span(8 of 12 last)

  div.social
    text-align: right
    margin: 0 0 1em

    span
      margin: 0 0 0 2px

      span
        margin: 0

      .stButton .chicklets
        padding-left: 16px
        width: 0

    iframe
      float: left
      margin-top: 3px

  .woocommerce-tabs
    clear: both

    ul.tabs
      list-style: none
      overflow: hidden
      position: relative
      padding: 0
      margin: 0
      +span(12 of 12)
      +breakpoint($tablet-portrait-up)
        +span(4 of 12)

      li
        display: block
        border-top: 1px solid $gray-100
        border-bottom: 1px dotted $gray-100
        background-color: $gray-50
        position: relative
        z-index: 0
        margin: 0

        a
          width: 100%
          display: block
          padding: 20px 20px
          font-weight: 700
          color: $gray-800
          text-decoration: none
          +breakpoint($tablet-portrait-up)
            display: inline-block

          &:hover
            text-decoration: none
            color: $red

        &.active
          color: $red
          background: white
          z-index: 2
          border-bottom-color: $red

          a
            color: inherit
            text-shadow: inherit

          &::before
            box-shadow: 2px 2px 0 $contentbg

          &::after
            box-shadow: -2px 2px 0 $contentbg

    .panel
      padding: 0
      +span(12 of 12)
      +breakpoint($tablet-portrait-up)
        +span(8 of 12 last)

        h2
          margin-top: 0

  .related
    +span(12 of 12)

  p.cart
    margin-bottom: 2em
    +clearfix

  form.cart
    margin-bottom: 2em
    +clearfix

    div.quantity
      float: left
      margin: 0 4px 0 0

    table
      border-width: 0 0 1px

      td
        padding-left: 0

      div.quantity
        float: none
        margin: 0

      small.stock
        display: block
        float: none

    .variations
      margin-bottom: 1em
      border: 0
      width: 100%

      td,
      th
        border: 0
        vertical-align: top
        line-height: 2em

      label
        font-weight: 700

      select
        max-width: 100%
        min-width: 75%
        display: inline-block
        margin-right: 1em
      tr
        display: block
        margin-bottom: 10px

      td.label
        display: block
        padding-right: 1em

      td.value
        display: block

    .woocommerce-variation-description p
      margin-bottom: 1em
      +rem('font-size', 16px)

    .reset_variations
      visibility: hidden
      +rem('font-size', 14px)
      position: relative
      padding-left: 20px

      &::before
        font-family: 'Ionicons'
        content: '\f49a'
        +rem('font-size', 24px)
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)

    .wc-no-matching-variations
      display: none

    .button
      vertical-align: middle
      float: left

    .group_table
      td.label
        padding-right: 1em
        padding-left: 1em

      td
        vertical-align: top
        padding-bottom: 0.5em
        border: 0

      td:first-child
        width: 4em
        text-align: center

      .wc-grouped-product-add-to-cart-checkbox
        display: inline-block
        width: auto
        margin: 0 auto
        transform: scale(1.5, 1.5)

span.onsale
  min-height: 3.236em
  min-width: 3.236em
  font-size: 1em
  font-weight: 700
  position: absolute
  text-align: center
  line-height: 3.236
  top: -0.5em
  left: -0.5em
  margin: 0
  border-radius: 100%
  background-color: $highlight
  color: $highlightext
  font-size: 0.857em
  -webkit-font-smoothing: antialiased
  z-index: 9

/**
/** Product loops
.products ul,
ul.products
  padding: 25px
  margin: 0 0 1em
  list-style: none outside
  margin-bottom: 25px
  clear: both
  +clearfix

  li
    +span(12 of 12)
    margin-bottom: 50px
    list-style: none outside
    position: relative

    +breakpoint($tablet-portrait-up)
      +span(6 of 12)

      &:nth-child(2n)
        +span(6 of 12 last)

      &:nth-child(2n + 1)
        clear: left

    +breakpoint($tablet-landscape-up)
      +span(3 of 12)

      &:nth-child(2n)
        +span(3 of 12)

      &:nth-child(4n)
        +span(3 of 12 last)

      &:nth-child(2n + 1)
        clear: none

      &:nth-child(4n + 1)
        clear: left

ul.products li.product
  .onsale
    top: 0
    right: 0
    left: auto
    margin: -0.5em -0.5em 0 0

  h3,
  .woocommerce-loop-product__title,
  .woocommerce-loop-category__title
    padding: 0.5em 0
    margin: 0
    +rem('font-size', 18px)
    font-family: 'Proxima Nova'
    font-weight: bold
    text-transform: none

    mark
      display: none

  a
    width: 100%
    text-decoration: none

    img
      width: 100%
      height: auto
      display: block
      margin: 0 0 1em
      box-shadow: none

  strong
    display: block

  .star-rating
    font-size: 0.857em

  .button
    display: none

  .price
    color: $highlight
    display: block
    font-weight: normal
    margin-bottom: 0.5em
    font-size: 0.857em

    del
      color: inherit
      opacity: 0.5
      display: inline-block

    ins
      background: none
      font-weight: 700

    .from
      font-size: 0.67em
      margin: -2px 0 0 0
      text-transform: uppercase
      color: rgba(desaturate($highlight, 75%), 0.5)

.woocommerce-result-count
  float: left
  margin: 0 0 1em

.woocommerce-ordering
  float: right
  margin: 0 0 1em

  select
    vertical-align: top

nav.woocommerce-pagination
  text-align: center
  padding-bottom: 25px

  .page-numbers
    background: white

  ul
    display: inline-block
    white-space: nowrap
    padding: 0
    clear: both
    border: 1px solid darken($secondary, 10%)
    border-right: 0
    margin: 1px

    li
      border-right: 1px solid darken($secondary, 10%)
      padding: 0
      margin: 0
      float: left
      display: inline
      overflow: hidden

      a,
      span
        margin: 0
        text-decoration: none
        padding: 0
        line-height: 1
        font-size: 1em
        font-weight: normal
        padding: 0.5em
        min-width: 1em
        display: block

      span.current,
      a:hover,
      a:focus
        background: $secondary
        color: darken($secondary, 40%)

.woocommerce-product-details
  &__short-description
    margin: 25px 0

    h1
      +rem('font-size', 28px)
    h2
      +rem('font-size', 24px)
    h3
      +rem('font-size', 22px)
    h4
      +rem('font-size', 20px)
    h5
      +rem('font-size', 18px)
    h6
      +rem('font-size', 16px)
    p
      +rem('font-size', 16px)

.product_meta
  > span
    display: block
    margin-bottom: 10px

.single_variation_wrap
  overflow: auto
  margin: 5px 0

.woocommerce-variation-price
  margin: 10px 0
