/**
/** Tables
table.shop_attributes
  border: 0
  border-top: 1px dotted rgba(0, 0, 0, 0.1)
  margin-bottom: 1.618em
  width: 100%

  th
    width: 150px
    font-weight: 700
    padding: 8px
    border-top: 0
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1)
    margin: 0
    line-height: 1.5

  td
    font-style: italic
    padding: 0
    border-top: 0
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1)
    margin: 0
    line-height: 1.5

    p
      margin: 0
      padding: 8px 0

  tr:nth-child(even) td,
  tr:nth-child(even) th
    background: rgba(0, 0, 0, 0.025)

table.shop_table
  margin: 0 -1px 24px 0
  text-align: left
  width: 100%
  border-collapse: separate
  border-radius: 5px

  th
    font-weight: 700
    padding: 15px
    background: $gray-100

  td
    padding: 15px
    vertical-align: middle
    background: $gray-50

    small
      font-weight: normal

  tbody:first-child tr:first-child
    th,
    td
      border-top: 0

  tfoot td,
  tfoot th,
  tbody th
    font-weight: 700

table.my_account_orders
  font-size: 0.85em

  th,
  td
    padding: 4px 8px
    vertical-align: middle

  .button
    white-space: nowrap

  .order-actions
    text-align: right

    .button
      margin: 0.125em 0 0.125em 0.25em

table.woocommerce-MyAccount-downloads
  td,
  th
    vertical-align: top
    text-align: center

    &:first-child
      text-align: left

    &:last-child
      text-align: left

    .woocommerce-MyAccount-downloads-file::before
      content: '\2193'
      display: inline-block

td.product-name
  dl.variation, .wc-item-meta
    list-style: none outside

    dt, .wc-item-meta-label
      float: left
      clear: both
      margin-right: .25em
      display: inline-block
      list-style: none outside

    dd
      margin: 0

    p,
    &:last-child
      margin-bottom: 0

  p.backorder_notification
    font-size: 0.83em

td.product-quantity
  min-width: 80px

+breakpoint($phone-only)
  table.shop_table_responsive
    thead
      display: none

    tbody
      tr:first-child
        td:first-child
          border-top: 0

    th
      display: none

    tr
      display: block

    td
      display: block
      text-align: right !important
      // Important to overwrite order status inline styling

      &.order-actions
        text-align: left !important
        // This must always align left on handheld

      &::before
        content: attr(data-title) ': '
        font-weight: 700
        float: left

      &.product-remove,
      &.product-thumbnail,
      &.actions
        &::before
          display: none

      &.product-thumbnail
        background: $gray-100
        a img
          width: 50px

      &.product-remove
        padding: 0
        position: relative

        a.remove
          position: absolute
          left: 15px
          top: 28px
          color: white !important
          background: $red

    &:nth-child( 2n )
      td
        background-color: rgba(0, 0, 0, 0.025)
