/**
/** Utility classes
.clear
  clear: both

.col-1
  +span(12 of 12)
  +breakpoint($tablet-portrait-up)
    +span(6 of 12)
    margin-bottom: 15px

.col-2
  +span(12 of 12)
  +breakpoint($tablet-portrait-up)
    +span(6 of 12 last)
    margin-bottom: 15px
/**
