
.home
  header
    position: relative
  &__header-content
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 100%
    padding: 15px
    +breakpoint($tablet-portrait-up)
      text-align: center

    h1
      color: white
      text-shadow: 2px 2px 0 rgba(0,0,0,.5)
      +rem('font-size', 60px)
      +breakpoint($tablet-landscape-up)
        +rem('font-size', 92px)

    .btn__large
      width: 100%
      margin: 15px 0 0 0
      +breakpoint($tablet-portrait-up)
        width: auto

  &__secondary-header-content
    overflow: auto
    text-align: center
    h3
      margin-top: 0
      color: white
      font-family: "League Gothic","Helvetica Neue","Helvetica","Arial",sans-serif
      font-weight: normal
      text-transform: uppercase
      text-shadow: 2px 2px 0 rgba(0,0,0,.5)
      +rem('font-size', 56px)

    .secondary-header-content
      +span(100% no-gutter)
      height: 20vh
      min-height: 230px
      display: flex
      flex-direction: column
      justify-content: center
      +breakpoint($tablet-portrait-up)
        +span(50% no-gutter)
        height: 30vh
        min-height: 300px

      &--column-one
        background: url('images/dive-charters.jpg') center center no-repeat
        background-size: cover
      &--column-two
        background: url('images/learn-to-dive.jpg') center center no-repeat
        background-size: cover

  &__header-background
    height: 80vh
    min-height: 500px
    +breakpoint($tablet-portrait-up)
      min-height: 600px

  &__only-the-best
    background: $red
    color: white
    padding-bottom: 30px

    h2
      +rem('font-size',54px)
    h3
      +rem('font-size',18px)
      margin-bottom: 30px

  &__about
    padding: 30px 0

    p
      +rem('font-size',18px)
      margin-bottom: 15px

  &__courses
    background: url('images/underwater-background-darkened.jpg') center center no-repeat
    background-size: cover
    padding: 60px 0 80px 0

    h2
      color: white
      margin: 30px 0
      +breakpoint($tablet-portrait-up)
        +rem('font-size',54px)

    &__action-button-row
      +break
      margin-top: 60px
      text-align: center

    &__course
      +span(100% no-gutter)
      height: 280px
      border: 2px solid $gray-50
      background-color: white
      text-indent: -9999px
      display: inline-block
      background-position: center
      background-repeat: no-repeat
      +breakpoint($tablet-portrait-up)
        +span(4 of 12 no-gutter)
        background-size: 75%
      +breakpoint($tablet-landscape-up)
        background-size: auto

      &:hover
        opacity: .9

      &__pro
        background-color: $dark-blue
        color: white
        text-indent: initial
        position: relative

        &__text
          position: absolute
          text-align: center
          width: 100%
          top: 50%
          transform: translateY(-50%)
          text-transform: uppercase
          +rem('font-size', 28px)
          font-family: "League Gothic","Helvetica Neue","Helvetica","Arial",sans-serif

      &__padi
        background-image: url('images/PADI-logo.png')
      &__dan
        background-image: url('images/DAN-logo.png')
      &__pfi
        background-image: url('images/PFI-logo.png')
      &__naui
        background-image: url('images/NAUI-logo.png')
      &__efr
        background-image: url('images/EFR-logo.png')

  &__team
    padding: 60px 0

    h2
      margin: 30px 0
      +breakpoint($tablet-portrait-up)
        +rem('font-size',54px)

    &__action-button-row
      +break
      text-align: center

    &__member
      +span(12 of 12)
      padding: 0 0 30px 0
      +breakpoint($tablet-portrait-up $tablet-landscape-up)
        +span(4 of 12)
        &:nth-child(3n+1)
          +last
      +breakpoint($tablet-landscape-up)
        +span(2 of 12)
        &:nth-child(6n+1)
          +last

      &__name
        +rem('font-size', 20px)
        font-weight: normal

      &__photo
        background: $gray-50
        img
          width: 100%
          height: auto
          border: 5px solid $gray-50
          border-radius: 5px
