.page-template-page-our-team
  .team-member
    padding-bottom: 30px
    +breakpoint($tablet-portrait-up)
      padding: 30px
      +span(6 of 12)
    +breakpoint($desktop-up)
      padding: 0
      margin-bottom: 60px

    &:nth-of-type(odd)
      +breakpoint($tablet-portrait-up)
        +span(6 of 12 last)

    &__photo
      width: 100%
      max-width: 500px
      height: auto
      margin-bottom: 20px
      margin-right: 20px
      background: $gray-50
      float: left
      +breakpoint($desktop-up)
        width: 225px
        height: 225px

      img
        border: 5px solid $gray-50
        border-radius: 5px

    &__info
      padding-left: 0
      +breakpoint($desktop-up)
        padding-left: 245px

      h3
        margin-top: 0

    &__bio
      +rem('font-size', 16px)

    &__social-link
      border-radius: 100px
      margin: 2px
      width: 26px
      height: 26px
      color: white
      position: relative
      background: $gray-200
      +rem('font-size', 20px)

      &::before
        position: absolute
        top: 50%
        left: 50%
        transform: translateY(-50%) translateX(-50%)

      &.twitter:hover
        background: $twitter-brand-color

      &.facebook:hover
        background: $facebook-brand-color

      &.instagram:hover
        background: $instagram-brand-color

      &.snapchat:hover
        background: $snapchat-brand-color
        text-shadow: 1px 1px 0 black

      &.linkedin:hover
        background: $linkedin-brand-color

      &.googleplus:hover
        background: $googleplus-brand-color

      &.pinterest:hover
        background: $pinterest-brand-color
