.page-template-faq
  .question
    &__wrapper
      margin: 20px 0
      border: 3px solid $gray-50
      border-radius: 8px

      &.open
        .question
          &__title
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0

            &::after
              content: '\f2d7'
              padding: 2px 6px
              +breakpoint($tablet-portrait-up)
                padding: 4px 8px

          &__answer
            color: $gray-500

    &__title
      +rem('font-size',20px)
      padding: 15px 50px 15px 15px
      position: relative
      border-radius: 5px
      margin: 0
      +breakpoint($tablet-portrait-up)
        +rem('font-size', 28px)
        padding: 20px 70px 20px 20px

      &:hover
        background: $gray-50
        cursor: pointer

      &::after
        content: '\f3d0'
        font-family: "Ionicons"
        padding: 2px 6px
        border-radius: 100px
        border: 2px solid $gray-200
        position: absolute
        right: 15px
        top: 50%
        transform: translateY(-50%)
        font-size: 16px
        line-height: 1
        +breakpoint($tablet-portrait-up)
          padding: 4px 8px

    &__answer
      height: 0
      overflow: hidden
      margin: 0
      padding: 0 20px
      margin: 0

      p
        margin: 0
