a
  display: inline-block
  color: $blue
  text-decoration: none

  &:hover
    text-decoration: underline

.btn
  &__default
    +rem('font-size', 14px)
    padding: 14px 20px
    font-weight: bold
    position: relative
    cursor: pointer
    text-align: center
    @extend %default-border-radius

    &:hover
      opacity: .8
      text-decoration: none

  &__large
    +rem('font-size', 18px)
    padding: 20px 40px
    font-weight: bold
    position: relative
    cursor: pointer
    text-align: center
    @extend %large-border-radius

    &:hover
      opacity: .8
      text-decoration: none

  &__primary
    border: none
    color: $gray-600
    background-color: $yellow

  &__secondary
    border: none
    background-color: $gray-50
    color: $gray-600

  &__tertiary
    border: 2px solid white
    background-color: $red
    color: white

  &__white
    border: none
    color: $gray-600
    background: white

  &__allcaps
    text-transform: uppercase
    +rem('font-size', 13px)
