.logo
  position: absolute
  background: url('images/RAD-logo.svg') no-repeat
  background-position: center center
  background-size: cover
  width: 120px
  height: 46px
  text-indent: -9999px
  top: 50%
  transform: translateY(-50%)
  margin-left: 20px
  +breakpoint($tablet-landscape-up)
    width: 17%
    height: 100%
    background-size: contain

.header
  width: 100%
  height: 135px
  transition: all .3s ease-in-out
  background-position: top center
  background-size: cover
  position: relative
  +breakpoint($tablet-portrait-up)
    height: 230px

  &__angle
    bottom: 0
    left: 0
    width: 100%
    height: 135px
    background: white
    +angle(before, $position: absolute)
    margin-bottom: -120px

    &__home
      background: $red
      // +angle(before, absolute)

.header-nav-background
  width: 100%
  background: url('images/main-header-background.jpg') center no-repeat
  position: relative
  background-size: cover
  height: 800px

  &--angle
    bottom: 0
    left: 0
    width: 100%
    height: 80px
    background: white
    +angle(before)
    position: absolute

  .container
    display: flex
