%default-border-radius
  border-radius: 4px

%large-border-radius
  border-radius: 6px

%border-top-radius
  border-radius: 3px 3px 0 0

%border-bottom-radius
  border-radius: 0 0 3px 3px

%default-animate
  transition: all .3s ease-in-out

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  overflow-x: hidden

body
  background: white
  overflow-x: hidden

.container
  +container
  display: block
  max-width: 1170px
  padding: 0 20px
  margin: 0 auto
  position: relative

  &.no-padding
    padding: 0

.one-fourth-column
  +span(12 of 12)
  +breakpoint($tablet-landscape-up)
    +span(3 of 12)

.three-fourth-column
  +span(12 of 12)
  +breakpoint($tablet-landscape-up)
    +span(9 of 12)

.one-half-column
  +span(12 of 12)
  +breakpoint($tablet-landscape-up)
    +span(6 of 12)

.one-third-column
  +span(12 of 12)
  +breakpoint($tablet-landscape-up)
    +span(4 of 12)


.two-third-column
  +span(12 of 12)
  +breakpoint($tablet-landscape-up)
    +span(8 of 12)

.first
  +first

.last
  +last

.site-wrapper
  left: 0
  width: 100%
  position: relative
  transition: all 0.3s ease-in-out

.admin-bar
  #site-wrapper
    padding-top: 90px

.content
  padding: 0px 20px 40px
  min-height: calc(100vh - 350px)

.jquery-lightbox-move,
.jquery-lightbox-move *
  box-sizing: content-box
  transition: none !important
