.cart-nav
  float: right
  .widget_shopping_cart
    display: none

  .cart-link
    cursor: pointer
    display: block
    padding: 7px 20px
    color: white
    position: relative

  .shopping-cart-item-count
    color: inherit
    padding-left: 15px

  .ion-android-cart
    margin-right: 10px

  .ion-chevron-down
    margin-left: 10px

  &:hover
    .cart-link
      background: white
      color: $gray-900
      text-decoration: none

    .widget_shopping_cart
      position: absolute
      display: block
      right: 0
      top: 100%
      z-index: 200
      width: 350px
      padding: 20px
      background: white
      box-shadow: 0 3px 4px rgba(0,0,0,.2)

.mobile-cart-nav
  .cart-link
    @extend .menu-toggle
    right: 58px
    color: $gray-800

  .woocommerce-Price-amount,
  .cart-count-text,
  .ion-chevron-down
    display: none

  .shopping-cart-item-count
    +rem('font-size',14px)
    position: absolute
    left: 30px
    top: 10px
    background-color: $red
    color: white
    padding: 3px 8px 3px
    border-radius: 50px
    &.cart-empty
      display: none

  +breakpoint($tablet-portrait-up)
    display: none
